@import url(https://fonts.googleapis.com/css?family=Livvic);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
    background: rgb(74, 74, 74);
    overflow: hidden;
}

.topnav {
    background-color: inherit;
    overflow: inherit;
    color: rgb(227, 227, 227);
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin: 0 30px;
}

.links {
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
}

.links::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links:hover::after {
    width: 100%;
    left: 0;
}

.navbar {
    /* display: flex */
    text-align: center;
    align-content: center;
    justify-content: center;
}

div.stonks {
    /* background: black; */
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.part1 {
    font-family: 'Quicksand', sans-serif;
    color: rgb(122, 228, 255);
    letter-spacing: 0.15em;
    font-size: 50px;
}

.part2 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.15em;
    font-size: 50px;
    line-height: 1.2em;
}


.description {
    position: absolute;
    top: 50%;
    display: flex;
    color: white;
    text-align: center;
    left: 17%;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

.markdown {
    font-family: 'Courier New', sans-serif;
    color: rgb(255, 97, 97);
}
