<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Dashboard</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="height:100%">
    <div class="container">
        <h1 style="padding-top: 0.3em; font-size:20px">{{ ticker }}</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <canvas id="gsChart" width="30vw" height="8vh"></canvas>
        </div>
        <div class="row">
          <div class="col-md-7">
             <div class="col-md-13 shadow p-3 mb-5 bg-white rounded">
                <canvas id="psChart" width="12vw" height="5vh"></canvas>
             </div>
          </div>
          <div class="col-md-5" >
             <div class="col-md-13" style="text-align:center; padding:10px; height:5vh">
                <span style="font-size:4vh">Media Sentiment</span>
                <ul class="list-group" style="max-height:175px; overflow-y:scroll">
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                  <li class="list-group-item">First item</li>
                  <li class="list-group-item">Second item</li>
                  <li class="list-group-item">Third item</li>
                </ul>
             </div>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var ctx = document.getElementById("gsChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["2012 FYQ3", "2012 FYQ4", "2013 FYQ1", "2013 FYQ2", "2013 FYQ3", "2013 FYQ4", "2014 FYQ1", "2014 FYQ2", "2014 FYQ3", "2014 FYQ4", "2015 FYQ1", "2015 FYQ2", "2015 FYQ3", "2015 FYQ4", "2016 FYQ1", "2016 FYQ2", "2016 FYQ3", "2016 FYQ4", "2017 FYQ1", "2017 FYQ2", "2017 FYQ3"],
                datasets: [
                    {
                        label: 'Growth',
                        fill: false,
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        data: {{ growth }}
        },
            {
                label: 'Financial Returns',
                fill: false,
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                data: {{ financial_returns }}
                },
        {
            label: 'Multiple',
                fill: false,
                    backgroundColor: window.chartColors.yellow,
                        borderColor: window.chartColors.yellow,
                            data: { { multiple } }
        },
        {
            label: 'Integrated Factor',
                fill: false,
                    data: { { integrated_factor } },
            backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                    borderWidth: 1
        }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                }
            },
            title: {
                display: true,
                    text: 'Goldman Sachs Marquee API'
            },
            legend: {
                display: true,
                    position: "left"
            }
        }
        });
    </script>
</body>

</html>
