<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>STONKS</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center" style="padding-top: 5em">
                <h1><span style="color: green">stonks</span>.space</h1>
            </div>
            <div class="col-md-3"></div>
        </div>

        <br> <br> <br>

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-md-auto">
                <form class="form-inline">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">AAPL</label>
                    <div class="col-xs-4 input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ticker</div>
                        </div>

                        <input type="text" class="form-control input-lg" id="inputlg" placeholder="AAPL">
                    </div>

                    <button type="submit" class="btn btn-primary mb-2" >Submit</button>
                </form>
            </div>
            <div class="col"></div>
            <div class="col"></div>

        </div>

        <br>

        <div class="jumbotron">
            <h3>A new method to track and compare companies' progress using a visualizer news.</h3>
            <br>
            <span class="made">Support provided by <code class="color">Marquee API</code> by Goldman Sachs and AI
                provided by <code class="color">Google Cloud Platform</code>.</span>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js" integrity="sha256-W+Cxk9exgjON2p73M4RcoKvCpQUZ+IjXhEzZk6rlg9M=" crossorigin="anonymous"></script>

    <script>
        var companies = new Array();

        $.get("{{ url_for('static', filename='json/companies.json') }}", function (data) {
            $.each(data, function (ticker, name) {
                companies.push(name[1]);
            });
        }, 'json');

        console.log(companies);

        $(".input-field").typeahead({ source: companies });
    </script>
</body>

</html>
