<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>STONKS</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css?family=Livvic|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
</head>

<body>

    <div class="navbar">
        <nav class="topnav">
            <ul>
                <li><a href="/" class="links">Home</a></li>
                <li><a href="/info" class="links">Explore</a></li>
            </ul>
        </nav>
    </div>


    <div class="stonks">
        <h2 class="title"><span class="aqua">STONKS</span> &nbsp space</h2>
    </div>

    <div class="description">
        <h3 class="website-description"><span class="markdown">stonks.space</span></h3>
    </div>

</body>

</html>
